<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="spring">
            <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
            <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
            <section name="typeAliases" type="Spring.Context.Support.TypeAliasesSectionHandler, Spring.Core"/>
        </sectionGroup>
    </configSections>
    <spring>
        <context>
            <resource uri="config://spring/objects"/>
        </context>
        <typeAliases>
            <alias name="cr" type="UsingSpring.CashRegister, UsingSpring" />
        </typeAliases>
        <objects xmlns="http://www.springframework.net">
            <object name="priceService" type="UsingSpring.PremiumPriceService, UsingSpring"></object>
            <object name="cashRegister" type="cr"  >
                <constructor-arg index="0" ref="priceService"></constructor-arg>           
            </object>
        </objects>
    </spring>
       
</configuration>