<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="unity"
                 type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
                       Microsoft.Practices.Unity.Configuration"/>
    </configSections>

    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <alias alias="IPriceService" type="UsingUnityConfig.IPriceService, UsingUnityConfig" />
        <namespace name="UsingUnityConfig" />
        <assembly name="UsingUnityConfig" />

        <container>
            <register type="IPriceService" mapTo="PremiumPriceService" />
        </container>

        <container name="someContainer">
            <register type="IPriceService" mapTo="SomePriceService" />
        </container>
        
    </unity>
    
    
</configuration>